* {
    margin: 0;
    font-family: Roboto, "Times New Roman", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    margin: 0px 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
}

.hero-secondary, .nav-link {
    color: #a3a3a3ad;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}




.content {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}