* {
    margin: 0;
    font-family: Roboto, "Times New Roman", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px 95px 0px 95px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
}

.hero-secondary, .nav-link {
    color: #a3a3a3ad;
    font-size: 18px;
}

.welcome-container {
    margin: 60px 100px 60px 100px;
    display: flex;
    gap: 30px;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-sign-up {
    width: 100px;
    background-color: #0d6efd;
    border: 0px;
    border-radius: 3px;
    padding: 5px 25px;
    color: white;
}

.welcome-right {
    min-height: 100px;
    min-width: 350px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder-image-text {
    color: white;
    opacity: 60%;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}




.content {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}